
<%= form_tag login_path do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %><br>
    <%= submit_tag "Sign in" %>
<% end %>

Password must have one uppercase, one special character
and minimum lenght of 6.

<p class="or"> or </p>

<%= render 'google_login' %>

