<div class="signup">

    <%= render partial: 'layouts/errors', locals: { object: @user }  %>
    
    <%= form_for(:user, url: signup_path) do |f| %>
        <%= f.label :profile_picture %><br>
        <%= f.file_field :avatar %><br>
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %><br>
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %><br>
        <%= f.label :email %><br>
        <%= f.text_field :email %><br>
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>
        <%= f.submit 'Create Account' %><br>
    <% end %>

    <p class="or"> or </p>

    <div class="google_login">
        <%= link_to("Sign in with  ", '/auth/google_oauth2', method: 'POST') %><%= content_tag(:i, " ", class: "fab fa-google") %>
    </div>
</div>