<div class="signup">

    <%= render partial: 'layouts/errors', locals: { object: @user }  %>
    
    <%= form_for(@user) do |f| %>
        <%= f.label :profile_picture %>
        <%= f.file_field :avatar %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit 'Create Account' %>
    <% end %>

    <p class="or"> or </p>

    <%= render 'sessions/google_login' %>

</div>