<%= "Your appointment is confirmed!" %>

<div class="appointment_detail">
    <p>Your appointment details: </p>
    <%= @appointment.start_time.strftime("%I:%M %p") + " - " + @appointment.end_time.strftime("%I:%M %p") %>
    <p>on:</p>
    <%= @appointment.full_date.strftime("%A %B %d") %>
    <p> with: </p>
    <%= @appointment.barber.first_name.capitalize %>
    <%= link_to "Edit Appointment", edit_user_appointment_path(@user, @appointment)%>
</div>

