<div class="sidenav">
  <%= link_to "Home" %>
  <%= link_to "Services" %>
  <%= link_to "The Crew" %>
  
  <% if logged_in? %>
  <%= link_to "Profile" %>
  <%= link_to "Your Crew" %>
  <%= link_to "Appointments" %>
  <%= link_to "Logout" %>
  <% else %>
  <%= link_to "Login" %>
  <% end %>

</div>