<div class="sidenav">
<% if logged_in? %>
    <%= link_to "Profile" %>
    <%= link_to "Your Crew" %>
    <%= link_to "Appointments" %>
    <%= button_to "Logout", logout_path %>
<% else %>
    <%= link_to "Home" %>
    <%= link_to "The Cuts" %>
    <%= link_to "The Crew" %>
    <%= link_to "Login" %>
    <%= link_to "Sign up" %>
  <% end %>
</div>