<div class="sidenav">
<ul>
    <% if logged_in? %>
      <li><%= link_to(content_tag(:i, "", class: "far fa-user") + "  Profile", user_path(object))%></li>
      <li><%= link_to(content_tag(:i, "", class: "far fa-hand-scissors") + "   Appointments", user_appointments_path(object)) %></li>
      <li><%= link_to(content_tag(:i, "", class: "fas fa-user-minus") + "   Logout", logout_path, method: 'post') %></li>
    <% else %>
      <li><%= link_to(content_tag(:i, "", class: "fa fa-home") + "  Home", root_path) %></li>
      <li><%= link_to(content_tag(:i, "", class: "far fa-hand-peace") + "   The Team") %></li>
      <li><%= link_to(content_tag(:i, "", class: "fas fa-user-plus") + "  Login", login_path) %></li>
      <li><%= link_to(content_tag(:i, "", class: "fas fa-hand-point-right") + "  Sign up", signup_path) %></li>
    <% end %>
  </ul>
</div>