<div class="sidenav">
  <% if logged_in? %>
    <%= link_to "Profile", user_path(object) %>
    <%= link_to "Your Crew" %>
    <%= link_to "Appointments", user_appointments_path(object) %>
    <%= button_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Home", root_path %>
    <%= link_to "The Cuts" %>
    <%= link_to "The Crew", barbers_path %>
    <%= link_to "Login" %>
    <%= link_to "Sign up" %>
  <% end %>
</div>